main{
  /* background-color: #ed2939; */
  width: 100%;
  height: 100%;
  /* z-index: 1000; */
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
  font-size: 3em;
  text-align: center;
  /* z-index: 1100; */
}

.buttons{
  display: none;
}
/* 
.timer {
  display: block;
  z-index: 1000;
} */